<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
</head>
<body>
<h1>Update a Person:</h1>

<form th:action="@{/updatePerson}"
      th:object="${personUpdateForm}" th:method="POST">
    ID:
    <input type="text" th:field="*{id}"/>
    <br>
    User Name:
    <input type="text" th:field="*{userName}"/>
    <br>
    Password:
    <input type="text" th:field="*{password}"/>
    <br>
    Name:
    <input type="text" th:field="*{name}"/>
    <br>
    Age:
    <input type="text" th:field="*{age}"/>
    <br>
    Phone:
    <input type="text" th:field="*{phone}"/>
    <br>
    <input type="submit" value="Create"/>
</form>
